#d1{background-color: #003580; 
}
#top1{background-color:#003580;
}
#bo1{
    padding-top: 8px;
}
#bo2{
    padding-top: 12px;
    padding-bottom: 12px;
}
#booking1{height: 25px;
width: 150px;

}
#shekel1{
    margin-left: 50%;
    color: white;
}
#flag1{
    margin-left: 20px;
}
#list1{
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-top: 10px;
  margin-left: 15px;
  position: relative;
  color: white;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  
}

#list1:hover{
    background-color: rgb(0, 0, 189);
    text-decoration: none;
}
.btn1{
    border-radius: 3px;
    margin-left: 9px;
    font-size: 12px;
    font-weight: bold;
}
.link1{
   
    margin-top: 10px;
    
    position: relative;
    color: white;
    padding: 5px;
    font-size: 14px;
    
    
    
  }
  
  .link1:hover{
      background-color: rgb(0, 0, 189);
      text-decoration: none;
      color: white;
      border-radius: 3px;
  }
  #deal1{
      margin-top: 40px;
  }
  #p1{
      font-size: 14px;
  }
  .bdr1{
      border-style: solid;
      border-right-style: none;
      border-color: #febb02;
      border-width: 4px;
      
      padding: 10px 6px 5px;
      position: relative;
      display: block;
      height: 60px;
      font-weight: 500;
      text-align: center;
      vertical-align: middle;
  }
  #leftbdr1{
    border-top-left-radius: 3px;
    border-bottom-left-radius:  3px;
    margin-left: 15px;
  }
  #input1{
      width: 100%;
      border-style: none;
  }
  .px3{width: 80px;}
  #sr1{
      
      vertical-align: middle;
      text-align: center;
      color: white;
      
  }
  .bdr2{
    background-color: #07c;
    border-style: solid;
    border-color: #febb02;
    border-width: 4px;
    width: 100%;
    padding:  6px 5px;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    height: 60px;
    font-weight: 500;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
  }
  #img11z{
      background-image: url("newyork.jpg");
      height: 273px;
      width: 533px;
      border-radius: 3px ;
      border-style: solid;
      border-color: white;
      color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 0px 15px 25px;
    
     
  }
  #i9mg{
    background-image: url("telaviv.jpg");
    
    height: 273px;
    width: 533px;
    border-radius: 3px ;
    border-style: solid;
    border-color: white;
    margin-left: 545px;
    margin-top: -273px;
    color: #fff!important;
    text-shadow: 1px 1px 1px #000;
    padding: 0px 15px 25px;
    margin-bottom: 12px;
    
  }
  #h3{
   
    padding: 21px 15px 25px;
    top: 0;
    left: 0;
    margin-bottom: 12px;
    position: absolute;
    z-index: 2;
    color: #fff!important;
    text-shadow: 1px 1px 1px #000;
  }
  .avg{
      
    height: 40px;
    bottom: 10px;
    margin-left: 415px;
    margin-top: 143px;
    text-align: right;
    vertical-align: middle;
    border: 1px solid transparent;
    position: relative;
    font-size: 12px;
    background-color: #383838;
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
        
  }